
body{
  background : no-repeat url("background-home-desktop.jpg");
  background-size: 100%;
  position: relative;
}
.navbar{
background: linear-gradient(90deg, #252a2b, #5a6494) ;
  width: 700px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 20px;
  text-align: center;


}
.navbar:hover{
  background: linear-gradient(90deg, #5919e6, #b71fe0) ;
}
.navbar-elements{
  margin: 15px 50px 0 0;


}
.element{
  color: white;
  margin: 35px;
  text-decoration: none;
  font:12px "Oswald", sans-serif;
}
.element:hover{
  text-decoration: underline;

}
hr{
  position: absolute;
  top: 38px;
  width: 40%;
  margin-left: 130px;
}

.space-logo{
  width: 5%;
  margin-left: 40px;
  margin-top: 20px;
}
.circle{
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 250px;
left: 880px;
}
.circle:hover{
  background-color: #3c8cc3;


}
.Explore{
  color: black;
  text-align: center;
  margin: 75px 0 ;
  font: 35px "Titillium Web", sans-serif;
  position: absolute;
  top: 0px;
  left: 30px;
  text-decoration:none;
}
.Explore:hover{
  text-decoration: underline;
  color: white;

}

.Text{
  color: white;
  width: 30%;
  text-align: left;
  position: absolute;
  top:230px;
  left: 70px;
}

.heading1{
  font: 100px "Merriweather", Serif;
  margin: 20px 0;
}
.heading2{
  font: 19px "Hind-Siliguri", sans-serif;
}

.para{

  font: 16px "Hind-Siliguri", Serif;
  line-height: 1.5;
}

.best-text{
  background-color: red;
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  position: absolute;
  top: 150px;
}
